.HouseCard {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    /* min-height: 150px; */
    max-height: 100%;
    height: 200px;
    width: 300px;
    gap: 25px;
    background-color: #f2f2f2;
    align-items: stretch;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  

.HouseCard:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Agrega una sombra al hacer hover */
    transform: scale(1.05); /* Hace que el card se agrande un poco al hacer hover */
    background-color: #fff;
}

.Code {
    font-size: 24px;
    color: #333;
    font-weight: bold;
}

.Direccion {
    font-size: 16px;
    color: #999;
}