:root{
  /* --main-color: #ffffff;
  --second-color: #043565;
  --third-color: #cfc0bd;
  --fourth-color: #726e60;
  --fifth-color: #000000; */
  --main-color: rgb(255, 255, 255);
  --second-color: rgba(4, 53, 101, 0.5);
  --third-color: rgb(207, 192, 189);
  --fourth-color: rgb(114, 110, 96);
  --fifth-color: rgb(0, 0, 0);
  
  --main-hospital-color: #FFB7B7;
  --second-hospital-color: #ED461D;

  --main-centroSalud-color: #D4FFE5;
  --second-centroSalud-color: #2CBD66;

  --main-laboratorio-color: #97D6EA;
  --second-laboratorio-color: #1D9BED;
}

html {
  height: 100vh;
}

body{
  background-color: var(--main-color);
  height: 100%;
}

.root {
  height: 100vh;
}

.input {
  border: none;
  width: 100%
}